:root {
  font-size: 16px;
  line-height: 1.4;

  /* Colors */
  --black: #323232;
  --blue-dark: #227093;
  --blue-light: #76c6e9;
  --blue-lightest: #99cbe0;
  --blue: #34ace0;
  --dark: rgba(17, 17, 17, 0.2);
  --light: rgba(250, 250, 250, 0.8);
  --purple-dark: #474787;
  --purple-darkest: #2c2c54;
  --purple-light: #9e9de0;
  --purple-lightest: #cccced;
  --purple: #706fd3;
  --red-dark: #b33939;
  --red: #ff5252;
  --white: #fafafa;

  /* Fonts */
  --humanist-fonts: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro, sans-serif;

  /* Spacings */
  --huge: 64px;
  --large: 32px;
  --medium: 16px;
  --small: 8px;
  --tiny: 4px;

  /* Speeds */
  --fast: 50ms;
  --slow: 150ms;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  cursor: pointer;

  .external {
    font-size: 0.75em;
    padding-top: 0.25em;
    vertical-align: top;
  }
}

aside {
  border-left: 2px solid var(--white);
  color: var(--light);
  font-size: 0.9em;
  padding-left: var(--medium);
}

blockquote {
  background-color: var(--dark);
  border-left: 2px solid var(--purple-light);
  border-radius: 2px;
  color: var(--purple-lightest);
  line-height: 1.25;
  margin: var(--medium) 0;
  padding: var(--tiny) var(--medium);
}

body {
  background-color: var(--purple-dark);
  color: var(--white);
  font-family: var(--humanist-fonts);
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  margin: 0;
}

button {
  background-color: var(--blue-lightest);
  border-radius: var(--tiny);
  border-width: 0;
  color: var(--black);
  cursor: pointer;
  font-size: 0.9rem;
  padding: var(--tiny) var(--medium);
  transition: background-color var(--fast) ease-in-out;

  &:hover {
    background-color: var(--blue);
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--large) var(--medium);
  text-align: center;

  a {
    color: var(--blue-lightest);
    text-decoration: none;
    transition: color var(--fast) ease-out;

    &:hover {
      text-decoration: underline;
    }
  }

  .divider {
    display: none;
  }
}

header {
  background-color: var(--purple-dark);
  padding-top: var(--huge);

  .title {
    display: block;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: var(--small);
    padding: 0 var(--medium);
    text-decoration: none;
  }

  nav {
    background-color: var(--purple-darkest);

    .content {
      align-items: flex-start;
      display: flex;
      overflow-x: auto;
      padding: var(--small) var(--medium) 0;

      a {
        color: var(--light);
        border-bottom: 4px solid transparent;
        display: inline-block;
        font-size: 0.9em;
        font-weight: bolder;
        margin-right: var(--medium);
        padding: var(--tiny) var(--small) var(--small);
        text-decoration: none;
        text-transform: uppercase;
        transition: border-color var(--slow) ease-out;

        &.-active {
          border-color: var(--blue);
        }

        &:hover:not(.-active) {
          border-color: var(--blue-dark);
        }
      }
    }
  }
}

hr {
  background-color: rgba(250, 250, 250, 0.15);
  border-style: none;
  height: 1px;
  margin-top: var(--large);
}

main {
  background-color: var(--black);

  a {
    color: var(--blue-light);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote p {
    margin: var(--small) 0;
  }

  h1 {
    font-size: 2rem;
    line-height: 1;

    &:before {
      display: block;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1;
      opacity: 0.5;
      text-transform: uppercase;
    }

    &.-scenario:before {
      content: "Scenario:";
    }

    &.-tool:before {
      content: "Tool:";
    }
  }

  h2 {
    align-items: center;
    display: flex;
    margin: var(--large) 0px 0px;

    span {
      flex-grow: 1;
    }

    & + p {
      margin-top: var(--small);
    }
  }

  h3 {
    align-items: center;
    display: flex;
    margin: var(--large) 0px 0px;
  }

  h3 span {
    flex-grow: 1;
  }

  h3 + p {
    margin-top: var(--small);
  }

  h4 {
    margin: var(--medium) 0 0;
  }

  h4 + p {
    margin-top: var(--tiny);
  }

  p {
    margin: var(--medium) 0 0;
  }

  .content {
    padding: var(--large) var(--medium);

    & > *:first-child {
      margin-top: 0;
    }
  }
}

ol {
  counter-reset: ol-counter;
  list-style-type: none;
  padding-left: var(--small);

  & > li {
    margin-bottom: var(--tiny);

    &::before {
      background-color: rgba(17, 17, 17, 0.5);
      border-radius: 2px;
      color: rgba(250, 250, 250, 0.8);
      content: counter(ol-counter);
      counter-increment: ol-counter;
      display: inline-block;
      font-size: 0.85em;
      margin-right: var(--small);
      padding: var(--tiny);
      text-align: center;
      width: 1em;
    }

    & > ol {
      padding-left: var(--large);
    }
  }
}

ol, ul {
  margin-top: var(--medium);
}

p + ul {
  margin-top: var(--tiny);
}

table {
  border-spacing: 0px;
  line-height: 1.8;
  margin: var(--small) 0px var(--medium);
  width: 100%;

  td {
    padding: 0px var(--small);

    &.-selected {
      color: var(--blue-light);
    }
  }

  th {
    padding: 0px var(--small);
    text-align: left;
  }
}

tbody > tr:nth-child(2n) {
  background-color: rgba(248, 248, 248, 0.05);
}

ul {
  padding-left: var(--large);
  padding-top: 0;

  ul {
    margin-top: 0;
  }
}

.content {
  margin: 0px auto;
  max-width: 800px;
}

.inline-list {
  column-gap: var(--small);
  display: flex;
  margin-top: var(--small);

  span {
    background-color: var(--dark);
    border-radius: var(--tiny);
    padding: var(--tiny) var(--small);

    em {
      color: var(--purple-light);
      font-weight: 500;
      margin-right: var(--small);
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--large);
}

@media (min-width: 512px) {
  footer {
    flex-direction: row;

    .divider {
      display: block;
      margin: 0 var(--small);
      opacity: 0.5;
    }
  }
}
