<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Roll for Shoes tabletop RPG" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Roll for Shoes{% if title %} | {{title}}{% endif %}</title>
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/styles.css" />
    {%- for script in scripts %}
    <script src="{{ script }}" type="module"></script>
    {%- endfor %}
  </head>
  <body>
    <header>
      <div class="content">
        <span class="title">Roll for Shoes</span>
      </div>
      <nav>
        <div class="content">
          <a {% if "/" == page.url %}class="-active" {% endif %}href="/">Home</a>
          <a {% if "/settings/" in page.url %}class="-active" {% endif %}href="/settings/">Settings</a>
          <a {% if "/tools/" in page.url %}class="-active" {% endif %}href="/tools/">Tools</a>
          <a {% if "/extras/" in page.url %}class="-active" {% endif %}href="/extras/">Extras</a>
          <a {% if "/links/" in page.url %}class="-active" {% endif %}href="/links/">Links</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="content">{{ content | safe }}</div>
    </main>
    <footer>
      <a href="mailto:ideas@rollforshoes.com">ideas@rollforshoes.com</a>
      <span class="divider">|</span>
      <span xmlns:cc="http://creativecommons.org/ns#">This work is marked with <a href="http://creativecommons.org/publicdomain/zero/1.0?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC0 1.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1"></a></span>
    </footer>
  </body>
</html>
